@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Nunito, Roboto, Arial, sans-serif;
  background: #282c34;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  color: #fff;
  margin-top: 100px;
}

.container > header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 20px 0;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.header-headings > span {
  margin: 3px 0;
  line-height: 1.3rem;
}

.options {
  display: flex;
  width: 350px;
}

@media screen and (max-width: 380px) {
  .options {
    width: 100%;
  }
}

.account-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-width: 300px;
}

.account-form-fields {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields > input {
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  color: #000;
  border-radius: 5px;
}

.account-form-fields > input::-moz-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input::placeholder {
  color: #aaa;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:focus {
  outline: none;
}

.btn-submit-form {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background: #6381e8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
}

.btn-submit-form:hover {
  background: #4468e4;
}

.btn-submit-form:active, .btn-submit-form:focus {
  outline: none;
  background: #2e56e0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  text-align: center;
}
